* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600
}

#root {
    width: 100%;
    height: 100vh;
}

html {
    background: rgba(0, 0, 0, .3)
}

.container {
    border-radius: 30px;
    background: #fff;
    margin: 0 auto;
    padding: 32px;
    width: 100%;
    max-width: 552px;
    min-height: 476px
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%
}

.App, header {
    display: flex;
    width: 100%
}

header {
    justify-content: space-between
}

.closeForm {
    cursor: pointer;
    border: none;
    background: inherit
}

.description {
    color: grey;
    padding-top: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px
}

.input__title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    margin-top: 24px;
    margin-bottom: 16px;
    color: #000
}

.input {
    width: 100%;
    height: 40px;
    padding: 10px 8px;
    border: 1px solid #dfe3e6;
    border-radius: 3px;
    margin-bottom: 8px
}

.input::-webkit-input-placeholder {
    color: #bec5cc
}

.input__btn {
    color: #ea0029;
    border: none;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    background: inherit
}

.form__selector {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap
}

.form__selector p {
    margin-right: 16px
}

.form__selector button {
    min-width: 73px;
    width: 73px;
    height: 36px;
    background: #eef0f2;
    color: #000;
    border-radius: 50px;
    text-align: center;
    border: none;
    font-weight: 400;
    font-size: 14px;
    margin-left: 16px;
    cursor: pointer;
    transition: all .25s
}

.form__selector .active, .form__selector button:hover {
    color: #000;
    transition: all .25s;
    color: #fff
}

.add__btn, .form__selector .active, .form__selector button:hover {
    background: linear-gradient(255.35deg, #dc3131 .83%, rgba(255, 79, 79, 0) 108.93%), #ff5e56
}

.add__btn {
    width: 100%;
    height: 56px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    margin-top: 40px
}

.add__btn, .add__btn:hover {
    box-shadow: 0 0 24px rgba(234, 0, 41, .33);
    transition: all .2s
}

.add__btn:hover {
    background: #ea0029
}

.add__btn:disabled {
    background: #bec5cc
}

.list__items {
    animation: listAnim 0.6s;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
    max-height: 285px;
}

.list__items-item {
    display: flex;
    align-items: center;
    grid-column-gap: 10px;
    column-gap: 10px;
    width: 100%;
    border-bottom: 1px solid #dfe3e6;
    margin-bottom: 16px;
    padding: 16px 0
}

.list__items-item input {
    background: linear-gradient(255.35deg, #dc3131 .83%, rgba(255, 79, 79, 0) 108.93%), #ff5e56;
    border-radius: 6px
}

@keyframes listAnim {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

.error__input {
    color: #ea0029;
    font-size: 10px
}

.input.error__input {
    border: 1px solid #ea0029
}

.hide {
    display: none !important
}

.grey__text {
    color: grey
}

.start__window {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(255.35deg, #dc3131 .83%, rgba(255, 79, 79, 0) 108.93%), #ff5e56;
    box-shadow: 0 -.11px 16.9495px rgba(183, 187, 225, .33);
    border-radius: 0
}

.start__btn {
    width: 198px;
    height: 56px;
    text-align: center;
    border: 1px solid #fff;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
    padding: 16px 32px;
    background: inherit
}


.list__items-item {
    display: flex;
    align-items: center;
}

.list__items-item input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.list__items-item label {
    position: relative;
    cursor: pointer;
}

.list__items-item label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #DFE3E6;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 6px;
}

.list__items-item input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    left: 9px;
    width: 4px;
    height: 10px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.list__items-item input:checked + label:before{
    background: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #FF5E56;
    color: #ffffff;
}
