*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.App{
    margin: 10px auto;
    background: rgb(231, 229, 229);
    width: 600px;
}
.app__header{
    background: rgb(255, 124, 1);
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
}
.item{
    background: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    align-items: center;
    border: rgba(0, 0, 0, 0.356) 1px solid;
}
.item:hover{
    background: rgba(255, 255, 255, 0.233);
    transition: background 0.3s;

}
.delete__item{
    cursor: pointer;
    width: 15px;
    height: 15px;
    border: 0px;
    background: url(./img/delete.svg) center center / contain no-repeat;
}
.add__btn{
    cursor: pointer;
    border: 0px;
    width: 15px;
    height: 15px;
    background: url(./img/plus.svg) center center / contain no-repeat;
    animation: add__btn-reverse 0.5s  alternate;
}
.add__btn:hover{
    animation: add__btn 0.5s  alternate;
    animation-fill-mode: forwards;
}
@keyframes add__btn {
    from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(180deg);
    }
}
@keyframes add__btn-reverse {
    from {
      transform: rotateZ(180deg);
    }
    to {
      transform: rotateZ(0deg);
    }
}
.Addtask{
    border-radius: 5px;
    border: rgb(165, 80, 0) 2px solid;
    margin-top: 200px;
    transition: margin-top 2s;
    margin-left: 150px;
    display: flex;
    justify-content: center;
    top: 5px;
    position: fixed;
    width: 300px;
    height: 100px;
    background: rgb(255, 124, 1);
}
.inputForm{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.hide {
    display: none;
}
.closeForm{
    position: absolute;
    top: 3px;
    right: 3px;
    text-align: center;
    width: 20px;
    height: 20px;
}