@media screen and (min-width: 1334px) and (max-width: 1448px) {
    .container {
        width: 1313px;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1334px) {
    .container {
        width: 978px;
    }
    .find__catalog {
        width: 40%;
    }
    .address__street {
        margin-right: 14px;
    }
    .adress__street-text {
        white-space: nowrap;
    }
    .address__city {
        margin-right: 17px;
    }
    .loyality {
        display: none;
    }
    .ship {
        margin-right: 16px;
    }
    .call-number {
        white-space: nowrap;
    }
    .email-text {
        margin-right: 10px;
    }
    .footer-title {
        white-space: nowrap;
    }
    .footer_contacts {
        width: 10%;
        margin-right: 52px;
        white-space: nowrap;
    }

    .footer_block {
        margin-right: 38px;
    }
    .politicy-right {
        display: flex;
    }
    .container.footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .points {
        display: none;
    }
    .header__main_section-top {
        justify-content: flex-start;
    }
    .header_btns {
        margin-right: 32px;
    }
    .politicy {
        flex-wrap: wrap;
    }
    .politicy-middle {
        order: 3;
        width: 100%;
        margin-top: 2px;
    }
    .main__panel-right {
        width: 64%;
    }

    /* .header__main-section-bot * {
        font-size: 11px;
    } */
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .header-bordor {
        display: none;
    }
    .mobile__header {
        display: flex;
    }
    .mobile {
        display: flex;
    }
    .main__panel-left {
        display: none;
    }
    .container {
        padding-left: 16px;
    }
    .destop__footer {
        display: none;
    }
    .container {
        width: 732px;
    }
    .main__panel-right {
        width: 100%;
    }
    .basket-count {
        right: -9%;
    }
}
@media screen and (max-width: 768px) {
    .header-bordor {
        display: none;
    }
    .main__panel-left {
        display: none;
    }
    .container {
        padding-left: 16px;
    }
    
    .mini {
        display: flex;
    }
    .main__panel-right {
        width: 100%;
    }
    .destop__footer {
        display: none;
    }
    .container {
        width: 98%;
    }
    .form {
        flex-direction: column;
    }
    .user_input {
        width: 100%;
    }
    .form_btns {
        width: 100%;
    }
    .mobile-city {
        margin-right: 31px;
    }
    .mini__footer {
        display: flex;
    }
    .politicy_mobile {
        align-items: center;
        justify-content: space-evenly;
    }
}
