*{
    font-family: 'Open Sans';
    font-style: normal;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.header-bordor{
    padding-bottom: 24px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.container{
    margin: 0 auto;
    width: 1424px;
}
.top__menu{
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.address{
    display: flex;
    justify-content: space-between;
}
.address__city{
    
    display: flex;
    align-items: center;
    margin-right: 48px;
    cursor: pointer;
}
.address__city-img{
    margin-right: 8px;
    width: 20px;
    height: 20px;
}
.address__city-text{
    font-weight: 600;
    font-size: 14px;
    text-decoration: underline;
}
.address__street{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 116px;
}
.adress__street-text{
    font-weight: 600;
    font-size: 14px;
    margin-left: 8px;
}
.ship-icon{
    margin-right: 9px;
}
.ship-text{
    font-weight: 600;
    font-size: 14px;
}
.ship{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 32px;
}
.promo{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 32px;
}
.promo-icon{
    margin-right: 8px;
}
.promo-text{
    font-weight: 600;
    font-size: 14px;
}
.loyality{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 116px;
}
.loyality-icon{
    margin-right: 8px;
}
.loyality-text{
    font-weight: 600;
    font-size: 14px;
}
.personal{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 181px;
    height: 36px;
    background: #E8EAED;
    border: 0px;
    border-radius: 4px;
}
.personal-text{
    font-weight: 600;
    font-size: 14px;
}
.personal-icon{
    margin-right: 8px;
}
.header__main{
    margin-top: 24px;
    display: flex;
}
.red__box{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 86px;
    height: 86px;
    background: #F2042C;
    bottom: 0px;
    margin-right: 24px;

}
.logo{
    margin-bottom: 7px;
}

.header__main_section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
}
.header__main_section-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.catalog{
    background: #F2042C;
    width: 143px;
    height: 48px;
    margin-right: 24px;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.catalog-icon{
    margin-right: 8px;
}
.catalog-text{
    font-weight: 800;
    font-size: 14px;
    color: white;
}
.find__catalog{
    display: flex;
    justify-content: space-between;
    width: 814px;
    height: 48px;
    margin-right: 40px;
    border:1px #C8CACC solid ;
}
.find__catalog-input{
    width: 90%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 16px;
}
.find__catalog_btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    cursor: pointer;
    background: #fff;
}
.find__catalog_btn-icon{
    padding-right: 12px ;
}
.header_btns{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 600;
    font-size: 12px;
    border: none;
    background: #fff;
    cursor: pointer;
    transition: background 0.2s;
}
.header_btns:hover{
    background: #f1f1f1;
    transition: background 0.2s;
}

.header__main_btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    height: 48px;
}
.basket{
    position: relative;
}
.basket-count{
    position: absolute;
    background: #F2042C;
    color: white;
    width: 20px;
    height: 20px;
    top: -10px;
    right: 0;
    border-radius: 50%;
    text-align: center;
}
.header__main-section-bot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
}
.call-number{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 14px;
    margin-right: 12px;
    margin-left: 4px;
}
.number{
    display: flex;
    align-items: center;
}
.number-subtext{
    font-size: 12px;
    line-height: 20px;
    color: #999999;
}
.number__callback{
    margin-left: 12px;
    margin-right: 5px;
    font-weight: normal;
    font-size: 12px;
}
.email{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.email-text{
    font-weight: normal;
    font-size: 14px;
    margin-left: 8px;
}
.points{
    font-weight: bold;
    font-size: 14px;
}
.points-text{
    font-weight: normal;
    font-size: 14px;
}
.points__count{
    color: #F2042C;
}
.main_section{
    padding-top: 40px;
}
.personal__title{
    font-weight: bold;
    font-size: 24px;
}
.menu__titles_section{
    display: flex;
}
.menu__titles_section-title{
    font-weight: normal;
    font-size: 12px;
    color: #999999;
}
.menu__titles_section-title:last-child{
    color: #F2042C;
}
.main__panel{
    margin-top:32px ;
    width: 100%;
    display: flex;
}
.main__panel-left{
    width: 27%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 32px;
}
.main__menu_item{
    display: flex;
    align-items: center;
    width: 100%;
    height: 36px;
    border: 0;
    background: #fff;
    cursor: pointer;
}
.main__menu-icon{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 8px;
}
.main__menu-text{
    font-weight: 600;
    font-size: 14px;
}
.notify-count{
    margin-left: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #F2042C;
    font-weight: 600;
    font-size: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main__menu_item:hover,.main__menu_item:active,.main__menu_item:target{
    background: #E8EAED;
    transition: background 0.2s;
}
.main__panel-right{
    width: 49%;
}
.status__section-status{
    display: flex;
    align-items: baseline;
}
.status__section-title{
    font-weight: bold;
    font-size: 20px;
    color: #2B2A29;
}
.status__section-subtitle{
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    background: #005BFF;
    padding: 4px 12px;
    border-radius: 4px;
    margin-left: 16px;
}
.status__section-info{
    margin-top: 16px;
    font-weight: normal;
    font-size: 14px;
}
.progress_bar{
    margin-top: 24px;
    margin-bottom: 24px;
}
.progress_bar-line{
    width: 100%;
    height: 16px;
    background: #E8EAED;
    border-radius: 4px;
}
.progress_bar-inline{
    background: #FF9A02;
    border-radius: 4px;
    height: 100%;
    width: 70%;
}
.progress_bar-summ{
    font-weight: bold;
    font-size: 16px;
    color: #2B2A29;
    padding-left: 70%;
}
.status__section_money-info{
    font-weight: normal;
    font-size: 14px;
    color: #999999;
}
.status__section_money-result{
    font-weight: 600;
    font-size: 14px;
    color: #2B2A29;
    margin-left: 2px;
}
.personal__data_section{
    margin-top: 48px ;
}
.form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.user_input{
    position: relative;;
    width: 47%;
    height: 54px;
    margin-top: 26px;
}
.input_info{
    position: absolute;
    top: -8px;
    left: 15px;
    font-weight: 600;
    font-size: 10px;
    color: #999999;
    background: #fff;
}
.input_info span{
    color: #F2042C;
}
.input{
    padding-left: 16px;
    width: 100%;
    height: 100%;
    border: 1px #404040 solid;
    border-radius: 4px;
    outline: none;
}
.form_btns{
    margin-top: 26px;
    width: 47%;
    display: flex;
    align-items: center;
    justify-content: start;    
}
.form_btn{
    cursor: pointer;
    margin-right: 24px;
    width: 117px;
    height: 48px;
    background: #F2042C;
    border-radius: 4px;
    border: none;
    font-weight: 600;
    font-size: 14px;
    color: white;
}
.grey{
    background: #E8EAED;
    color: #2B2A29;
}
.business_section{
    padding-top: 72px;
}
.business_section_title{
    display: flex;
    align-items: center;
}
.business_section_title-icon{
    margin-right:16px ;
    margin-bottom: 18px;
}
.add_company-btn{
    width: 188px;
    margin-top: 24px;
}
.LoginIntoEmail_section{
    padding-top: 80px;
    width: 100%;
}
.footer{
    padding-top: 184px;
    display: flex;

}
.footer_contacts{
    width: 10%;
    margin-right: 98px;
}
.footer_contacts-info{
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
}
.footer_block{
    width: 14%;
    margin-right: 72px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.footer-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #2B2A29;
    margin-bottom: 8px;
}
.footer-links{
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    text-decoration: none;
    color: #2B2A29;
}
.footer-links:hover, .footer-links:target{
    color:#F2042C ;
}
.footer__title-desc{
    margin-top: 12px;
    font-weight: normal;
    font-size: 13px;
    margin-bottom: 20px;
}
.footer__mailing-form{
    display: flex;
    justify-content: space-between;
    width: 360px;
    height: 40px;
    background: #fff;
    border: 1px #C8CACC solid;
    border-right: none;
}
.mailing_input{
    height: 100%;
    outline: none;
    border: none;
    padding-left: 16px;
}
.mailing_submit{
    width: 132px;
    height: 100%;
    background: #F2042C;
    border-radius: 0px 4px 4px 0px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}
.socialmedia{
    padding-top: 48px;
    display: flex;
    justify-content: space-between;
}
.social_left{
    display: flex;
}
.social{
    margin-right: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: #D6DBE0;
    border-radius: 4px;
}
.sponsor-icons{
    margin-left: 64px;
    cursor: pointer;
}
.politicy{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 48px;
}
.politicy-left{
    font-weight: 600;
    font-size: 13px;
    color: #2B2A29;
}
.politicy-middle{
    text-decoration: underline;
    font-weight: 600;
    font-size: 13px;
    color: #2B2A29;
}
.politicy-icons{
    margin-left: 16px;
}