@charset "UTF-8";
* {
  font-family: 'Montserrat Alternates', sans-serif;
}

.container-custom {
  max-width: 1140px;
}

.logo {
  display: block;
  margin-right: 157px;
}

.header {
  padding-bottom: 21px;
}

.menu__items {
  color: #000;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-underline-position: none;
}

.menu__items:hover, .menu__items:active, .menu__items:target {
  text-decoration: underline;
  color: #FF4C38;
}

.menu {
  margin-right: 52px;
}

.phone {
  padding-right: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  text-decoration: none;
}

.number {
  margin-right: 97px;
}

.number:hover {
  color: #FF4C38;
}

.market-icon {
  width: 36px;
}

.market {
  padding-left: 0px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.section__donuts {
  background: url(../img/svg/bg__main.jpg) center center/contain no-repeat;
  background-size: contain cover;
  height: 733px;
  background-size: 100% 100%;
}

.title {
  padding-top: 93px;
  font-weight: 800;
  font-size: 96px;
  line-height: 100.5%;
  color: #ffffff;
  padding-bottom: 20px;
}

.subtitle {
  font-weight: normal;
  font-size: 24px;
  line-height: 149%;
  color: #ffffff;
  padding-bottom: 40px;
}

.buy {
  width: 283px;
  height: 73px;
  background: radial-gradient(191.98% 4220.26% at -114.31% 62.69%, #FF2E60 22.4%, #FF611E 96.88%);
  -webkit-box-shadow: 0px 9px 53px rgba(230, 73, 0, 0.27), 0px 3.75998px 22.1421px rgba(230, 73, 0, 0.211513), 0px 2.01027px 11.8382px rgba(230, 73, 0, 0.173518), 0px 1.12694px 6.63642px rgba(230, 73, 0, 0.149605), 0px 0.59851px 3.52455px rgba(230, 73, 0, 0.128252), 0px 0.24905px 1.46665px rgba(230, 73, 0, 0.0895192);
          box-shadow: 0px 9px 53px rgba(230, 73, 0, 0.27), 0px 3.75998px 22.1421px rgba(230, 73, 0, 0.211513), 0px 2.01027px 11.8382px rgba(230, 73, 0, 0.173518), 0px 1.12694px 6.63642px rgba(230, 73, 0, 0.149605), 0px 0.59851px 3.52455px rgba(230, 73, 0, 0.128252), 0px 0.24905px 1.46665px rgba(230, 73, 0, 0.0895192);
  border-radius: 76px;
  border: 0px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: #ffffff;
}

.title__about {
  margin-top: 128px;
  margin-bottom: 30px;
}

.vertical__line {
  display: inline-block;
  height: 30px;
  width: 12px;
  background: #FF4C38;
  border-radius: 29px;
  margin-right: 20px;
}

.aboutus {
  display: inline-block;
  font-weight: bold;
  font-size: 36px;
  line-height: 107.9%;
}

.desc__about {
  font-weight: 500;
  font-size: 16px;
  line-height: 149%;
}

.cards {
  margin-top: 128px;
  margin-bottom: 50px;
}

.about__card {
  min-height: 236px;
  min-width: 137px;
}

.circle {
  min-height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 73px;
  height: 73px;
  border-radius: 50%;
  background: #FF4C38;
  margin-bottom: 20px;
}

.circle-pic {
  width: 36px;
}

.about__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 149%;
  color: #2F292A, 100;
  margin-bottom: 20px;
}

.about__desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 149%;
}

.section__chose {
  background: url(../img/choose__bg.jpg) center center/contain no-repeat;
  background-size: contain cover;
  min-height: 1049px;
  background-size: 100% 100%;
}

.chose {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 107.9%;
  color: #ffffff;
  padding-top: 80px;
  margin-bottom: 30px;
}

.chose__desc {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 149%;
  color: #ffffff;
  text-align: center;
  margin-bottom: 66px;
}

.con {
  border-bottom: 2px solid #FF4C38;
}

.btn {
  width: 805px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.choose__btn {
  width: 167px;
  height: 41px;
  border: 1px solid #ffffff;
  border-radius: 76px;
  background-color: #000;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-align: center;
}

.choose__btn:hover, .choose__btn:active, .choose__btn:target {
  background-color: #ffffff;
  color: #000;
}

.donuts__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.donut__card {
  margin-top: 45px;
  min-height: 469px;
  min-width: 364px;
  border-radius: 76px;
  background: #ffffff;
}

.donut {
  display: block;
  margin: 25px auto;
  margin-bottom: 30px;
}

.donut__name {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: black;
  text-align: center;
  margin-bottom: 15px;
}

.donut__desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.price {
  display: inline-block;
  padding-left: 56px;
  padding-top: 27px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #2F292A;
  margin-right: 165px;
}

.buy-icon {
  display: inline-block;
}

.btn__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #FF4C38;
  height: 53px;
  width: 53px;
  border-radius: 100%;
  margin: auto 0;
}

.arrow {
  margin: auto;
  height: 12px;
  width: 12px;
}

.view__more {
  display: block;
  margin: 45px auto;
  width: 288px;
  height: 61px;
  background: radial-gradient(191.98% 4220.26% at -114.31% 62.69%, #FF2E60 22.4%, #FF611E 96.88%);
  border-radius: 30px;
  text-align: center;
  border: 0;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}

.view__more:hover, .view__more:active, .view__more:target {
  opacity: 0.85;
}

.row-prod {
  margin-top: 100px;
  margin-bottom: 160px;
}

.boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boxes-title {
  display: inline-block;
  font-weight: bold;
  font-size: 36px;
  line-height: 149%;
  margin-bottom: 0px;
}

.boxes__desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 149%;
}

.boxes-wrapper {
  position: relative;
}

.donuts__boxes_circle {
  position: relative;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  width: 425px;
  height: 425px;
  border-radius: 100%;
  background: url(../img/svg/donuts__boxes-1.jpg) no-repeat;
}

.donuts__circle_big {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 100%;
  top: -35px;
  left: -36px;
  background-color: #fff;
  border: 2px dashed #FF4C38;
  z-index: -1;
}

.crcl {
  margin-left: 0px;
}

.select {
  position: relative;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #FF4C38;
  text-decoration: none;
}

.select::after {
  padding-left: 10px;
  content: "⟶";
}

.select:hover {
  color: #FF4C38;
  opacity: .75;
}

.second {
  background: url(../img/svg/donuts__boxes-2.jpg) no-repeat;
  margin-bottom: 102px;
}

.section__contacts {
  background: url(../img/contacts__bg.jpg) center center/cover no-repeat;
  background-size: 100% 100%;
}

.contacts {
  font-weight: bold;
  font-size: 36px;
  line-height: 149%;
  color: #fff;
  padding-top: 176px;
}

.location {
  display: inline-block;
  margin-bottom: 20px;
}

.adres {
  margin-top: 30px;
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  line-height: 149%;
  color: #fff;
}

.location-pic {
  vertical-align: baseline;
  padding-right: 23px;
}

.phone-contacts {
  padding-left: 3px;
  font-weight: bold;
  font-size: 16px;
  line-height: 149%;
  text-decoration: none;
  color: #fff;
  margin-bottom: 18px;
}

.contacts-pic {
  padding-right: 23px;
}

.email-pic {
  padding-left: 2px;
  padding-right: 23px;
}

.call {
  margin-top: 30px;
  width: 233px;
  height: 60px;
  background: radial-gradient(191.98% 4220.26% at -114.31% 62.69%, #FF2E60 22.4%, #FF611E 96.88%);
  -webkit-box-shadow: 0px 9px 53px rgba(230, 73, 0, 0.27), 0px 3.75998px 22.1421px rgba(230, 73, 0, 0.211513), 0px 2.01027px 11.8382px rgba(230, 73, 0, 0.173518), 0px 1.12694px 6.63642px rgba(230, 73, 0, 0.149605), 0px 0.59851px 3.52455px rgba(230, 73, 0, 0.128252), 0px 0.24905px 1.46665px rgba(230, 73, 0, 0.0895192);
          box-shadow: 0px 9px 53px rgba(230, 73, 0, 0.27), 0px 3.75998px 22.1421px rgba(230, 73, 0, 0.211513), 0px 2.01027px 11.8382px rgba(230, 73, 0, 0.173518), 0px 1.12694px 6.63642px rgba(230, 73, 0, 0.149605), 0px 0.59851px 3.52455px rgba(230, 73, 0, 0.128252), 0px 0.24905px 1.46665px rgba(230, 73, 0, 0.0895192);
  border-radius: 76px;
  border: 0px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  margin-bottom: 165px;
}

.socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.politicy {
  margin-top: 47px;
  font-size: 16px;
  line-height: 149%;
  color: #2F292A;
}

.icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: inline-block;
  width: 34px;
  height: 34px;
  background-color: #2F292A;
  margin-right: 20px;
  border-radius: 25%;
}

.media {
  padding-top: 15px;
  font-size: 18px;
}

.vk-icon {
  position: absolute;
  padding-top: 11px;
  padding-left: 6px;
}

.yt-icon {
  position: absolute;
  padding-top: 11px;
  padding-left: 8px;
}

.insta-icon {
  position: absolute;
  padding-top: 7px;
  padding-left: 7px;
}

.ok-icon {
  position: absolute;
  padding-top: 7px;
  padding-left: 10px;
}
/*# sourceMappingURL=style.css.map */